/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    text-align: center;
    padding-top: 100px;
    line-height: 1.6;
    color: #333;
    background-color: rgb(215, 215, 220);
}




/* Responsive Design */
@media (min-width: 768px) {
    body {
        text-align: center;
        padding-top: 100px;
        background-color: blanchedalmond;
    }
    
}

@media (min-width: 1024px) {
    body {
        text-align: center;
        padding-top: 100px;
        background-color: rgb(223, 193, 201);
    }
    
}

