<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>zipai</title>
    <link rel="stylesheet" href="./../../static/style.css">
</head>
<body>   
     <header>
        <h1><a href="./../../index.html">ZipAI</a></h1>
        <ul>
            <li><a href="./../../templates/sub/sub1.html">서브1.html</a></li>
            <li><a href="./../../templates/sub/sub2.html">서브2.html</a></li>
            <li><a href="./../../templates/sub/sub4.html">서브4.html</a></li>
        </ul>
    </header>
    <section>
        <h2>메인 섹션 1</h2>
    </section>
    <section>
        <h2>메인 섹션 2</h2>
    </section>
    <section>
        <h2>메인 섹션 3</h2>
    </section>
    <footer>
        <p>Copyright 2026 HomePick. All rights reserved.</p>
    </footer>   

    <title>Zip.Ai</title>
</head>
<body>
    <h1>서브2</h1>

</body>
</html>