# 공공데이터포털에서 발급받은 "일반 인증키(Decoding)"를 입력하세요.
PUBLIC_DATA_SERVICE_KEY=your_decoded_public_data_key
SERVER_PORT=4173
SERVER_HOST=127.0.0.1
COOKIE_SECURE=false
DB_URL=jdbc:mysql://127.0.0.1:3306/zipai?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Seoul&allowPublicKeyRetrieval=true
DB_USERNAME=zipai
DB_PASSWORD=change-me
