@charset "utf-8";
/* 반응형: 모바일 우선 */
/* shift+alt+f: 정렬 */
/* reset */
* {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul {
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}

/* 테블릿: 768 ~ 1024 */
@media (min-width:768px) {
    body {background: green;}
}
/* 데스크탑: 1025~ */
@media (min-width:1024px) {
    body {background: blue;}
}